.divchart-bar {
  display: inline-block;
  position: relative;
}

.divchart-container {
  height: 100%;
}

.divchart-data-bar {
  background-color: #499add;
  margin: 0 10px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.divchart-labels {
  overflow: hidden;
  position: relative;
  top: -4px;
  border-top: 2px solid grey;
  font-size: 20px;
}

.divchart-labels span {
  display: inline-block;
  position: relative;
  top: -3px;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
}

.divchart-bar:hover > .divchart-tooltip {
  opacity: 1;
}

.divchart-tooltip {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 300ms;
}

.divchart-tooltip p {
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  margin: 20% 0;
}

@media screen and (min-width: 768px) {
  .divchart-tooltip p {
    margin: 30% 25%;
  }
}